*{
    padding: 0;
    margin: 0;
}
body {
  background: radial-gradient(
      circle at top right,
      rgb(163, 49, 163),
      rgba(0, 0, 0, 1) 50%
    ),
    #000;
  color: white;
}
.main{
 
}
.nav{
    background: linear-gradient(45deg, purple,rgb(77, 4, 130), black, purple);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 10px 20px;
}

.nav p{
    font-family: Arial, Helvetica, sans-serif;
}

.nav button{
    background-color: rgb(57, 40, 40);
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 150px;
    border-color: rgb(121, 61, 121);
    cursor: pointer;
}
.break{
    padding-top: 90px;
    display: flex;
    gap:200px;
}
.btn2{
    background-color: rgb(57, 40, 40);
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 150px;
    border-color: rgb(121, 61, 121);
    cursor: pointer; 
}
.first-text h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
}.first-text p{
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-bottom: 100px;
}
.email-box{
    padding-top: 20px;
    display: flex;
    gap: 5px;
}
.email-box input{
    border-color: purple;
    background:  rgb(60, 51, 51);
    border-radius: 10px;
    padding: 5px 30px;
    margin-left: 10px;
}
.email-box button{
  padding: 5px 5px;
  border:none;  
  background: rgb(254, 25, 254);
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
.email-box button:hover{
    cursor: pointer;
}
.trial{
    display: flex;
    gap:7px;
    padding: 3px 0px; 
    margin-left: 10px;
}
.trial label{
    font-size: small;
}
.image-container{
    display: flex;
    align-items: center;
    padding:30px;
    gap:5px;
}
.image-container label{
    color: rgb(219, 208, 208);
}
.image1{
    height: 40px;
    width: 40px;
    border-radius:50px ;
     border: 1px solid purple;
     margin-left: -20px;
}
.image-container label{
    font-size: small;
}
.first-image{
    border: 2px solid purple;
}
.stay-ahead{
    padding: 20px 5px;
    background: radial-gradient(
      ellipse at top left,
      rgb(163, 49, 163),
      rgba(0, 0, 0, 1) 50%
    ),
    hsl(0, 0%, 0%);
}
.stay-ahead img{
    width: 50px;
    height: 50px;
    filter: invert(1) brightness(100%);
}
.stay-ahead1 h2{
font-family: Arial, Helvetica, sans-serif;
padding-top: 10px;
padding-bottom: 10px;
}
.stay-ahead p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    padding-bottom: 200px;
    color: rgb(219, 208, 208);
}
.stay-ahead button{
  padding: 5px 5px;
  border:none;  
  background: rgb(254, 25, 254);
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
.stay-ahead button:hover{
    cursor: pointer;
}
.image-container2{
    display: flex;
    border: 2px solid purple;
    gap:20px;
    height: 450px;
}
.main-container2{
    display: flex;
    gap: 3px;
}
.dollar-sign{
    border: 2px solid purple;
}
.dollar-sign img{
     width: 50px;
    height: 50px;
    padding-top: 20px;
}
.dollar-sign h2{
    font-family: Arial, Helvetica, sans-serif;
padding-top: 10px;
padding-bottom: 10px;
}
.dollar-sign p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    padding-bottom: 50px;
}
.join-community{
    border: 2px solid purple;
    margin-top: 3px;
}
.join-community img{
    width: 50px;
    height: 50px;
    padding-top: 20px;
}
.join-community h2{
    font-family: Arial, Helvetica, sans-serif;
padding-top: 10px;
padding-bottom: 10px;
}
.join-community p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    padding-bottom: 20px;
}
.footer-logo label{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer{
    display: flex;
    gap:300px
}
.footer label{
    margin-left:5px
}
.footer a{
    text-decoration: none;
}
