*{
    padding: 0;
    margin: 0;
}
.main{
    padding-left:;
}
.nav{
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 10px 20px;
}

.nav p{
    font-family: Arial, Helvetica, sans-serif;
}

.nav button{
    background-color: rgb(57, 40, 40);
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 150px;
    border-color: rgb(121, 61, 121);
    cursor: pointer;
}
.break{
    padding-top: 90px;
    display: flex;
   
}
.btn2{
    background-color: rgb(57, 40, 40);
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 150px;
    border-color: rgb(121, 61, 121);
    cursor: pointer; 
}
.first-text h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
}.first-text p{
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-bottom: 100px;
}
.email-box{
    padding-top: 20px;
    display: flex;
    gap: 5px;
}
.email-box input{
    border-color: purple;
    background:  rgb(60, 51, 51);
    border-radius: 10px;
    padding: 5px 30px;
    margin-left: 10px;
}
.email-box button{
  padding: 5px 5px;
  border:none;  
  background: rgb(254, 25, 254);
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
.email-box button:hover{
    cursor: pointer;
}
.trial{
    display: flex;
    gap:7px;
    padding: 3px 0px; 
    margin-left: 10px;
}
.trial label{
    font-size: small;
}
.image-container{
    display: flex;
    align-items: center;
    padding:30px;
    gap:5px;
}
.image1{
    height: 40px;
    width: 40px;
    border-radius:50px ;
     border: 1px solid purple;
     margin-left: -20px;
}
.image-container label{
    font-size: small;
}
.first-image{
    border: 2px solid purple;
}
.stay-ahead{
    padding: 20px 5px;
}
.stay-ahead img{
    width: 50px;
    height: 50px;
}
.stay-ahead1 h2{
font-family: Arial, Helvetica, sans-serif;
padding-top: 10px;
padding-bottom: 10px;
}
.stay-ahead p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    padding-bottom: 200px;
}
.stay-ahead button{
  padding: 5px 5px;
  border:none;  
  background: rgb(254, 25, 254);
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
.image-container2{
    display: flex;
    border: 2px solid purple;
}

