*{
    padding: 0;
    margin: 0;
}
.nav{
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 10px 20px;
}

.nav p{
    font-family: Arial, Helvetica, sans-serif;
}

.nav button{
    background-color: rgb(57, 40, 40);
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 150px;
    border-color: rgb(121, 61, 121);
    cursor: pointer;
}
.break{
    padding-top: 90px;
   
}
.btn2{
    background-color: rgb(57, 40, 40);
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 150px;
    border-color: rgb(121, 61, 121);
    cursor: pointer; 
}
.first-text h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
}.first-text p{
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-bottom: 100px;
}

